<div class="user-management">
  <div class="user-management-text">
    <h1>User Management</h1>
    <h2>You can manage all the registered users here.</h2>
  </div>

  <div class="search-bar-container">
    <div class="search-bar-in-admin">
      <input type="text" placeholder="Search users" class="search-input">
    </div>
  </div>

  <div class="table-container">
    <div class="user-table">
      <div class="table-header">
        <div class="header-item">ID</div>
        <div class="header-item">User Name</div>
        <div class="header-item">Email Address</div>
        <div class="header-item">Actions</div>
      </div>

      <div class="table-body">
        {{#each users}}
        <div class="table-row" data-id="{{this.id}}">
          <div class="cell">{{this.id}}</div>
          <div class="cell">
            <span class="user-name">{{this.username}}</span>
            <input type="text" class="edit-name" value="{{this.username}}" style="display:none;">
          </div>

          <div class="cell">
            <span class="user-email">{{this.emailAddress}}</span>
            <input type="email" class="edit-email" value="{{this.emailAddress}}" style="display:none;">
          </div>

          <div class="cell">
            <div class="user-management-buttons">
              <button class="edit-button">Edit</button>
              <button class="save-button" style="display:none;">Save</button>
              <button class="delete-button">Delete</button>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
