<div class="product-page">
    <div class="product-info">
        <div class="product-images">
            <div class="image-grid">
                <div class="image-container">
                    <img src="/image/detail-page-right.jpg" alt="Class detail image">
                    <button class="preview">
                        <img src="/icons/detail-arrow.png" alt="Preview icon" class="icon">Preview</button>
                </div>
                <img src="/image/detail-page-left.png" alt="Class detail image">
            </div>
        </div>
        <div class="details">
            <span class="class-name">{{className}}</span>
            <span class="tutor"><strong>Tutor:</strong> {{user_id}} - {{username}}</span>
            <span class="class-type"><strong>Class Type:</strong> {{classType}}</span>
            <span class="start-time"><strong>Start Time:</strong> {{startTime}}</span>
            <span class="end-time"><strong>End Time:</strong> {{endTime}}</span>
            <span class="class-format"><strong>Class Format:</strong> {{classFormat}}</span>
            <span class="address"><strong>Address:</strong> {{address}}</span>
            <span class="postcode"><strong>Postcode:</strong> {{postcode}}</span>
            <span class="price"><strong>Price:</strong> ${{price}}</span>
        </div>
    </div>
</div>
