<h2 class="trending-title">Trending Classes</h2>
<ul id="class-list">
    {{#each classes}}
        <li class="class-item card">
            <div class="class-info">
                <div class="image-container">
                    <a href="/detail">
                        <img src="/image/upcomings-image.png" alt="{{image}} image" class="class-image">
                    </a>
                    <img src="/icons/bookmark-icon.png" alt="Bookmark Icon" class="bookmark">
                </div>
                <span><strong>{{className}}</strong></span><br>
                <span><strong>Tutor:</strong> {{user_id}} - {{username}}</span><br>
            </div>
            <div class="upcoming-button">
                <a href="/detail" class="registerclass button">Register class</a>
            </div>
        </li>
    {{/each}}
    {{#unless classes.length}}
        <li>No upcoming classes available.</li>
    {{/unless}}
</ul>

<!-- Pagination - grade 4 -->
<div class="pagination">
        <a href="/upcomingclass?page={{pageMinus1}}" class="prev-button">Previous</a>

    <span>Page {{page}} of {{totalPages}}</span>

        <a href="/upcomingclass?page={{nextPage}}" class="next-button">Next</a>
</div>
