<div class="upcoming-page-container"> <!-- To change the background color -->
    <h2 class="trending-title">Trending Classes</h2>
    <ul id="class-list">
        {{#if classes.length}}
            {{#each classes}}
                <li class="class-item">
                    <div class="class-info">
                        <div class="upcomings-image-container">
                            <a href="/detail/{{this.id}}">
                                <img src="/image/upcomings-image.png" alt="Image class" class="class-image">
                            </a>
                            <img src="/icons/bookmark-icon.png" alt="Bookmark icon" class="bookmark">
                        </div>
                        <span><strong>{{className}}</strong></span><br>
                        <span><strong>Tutor:</strong> {{username}}</span><br>
                    </div>
                </li>
            {{/each}}
        {{else}}
            <li>No upcoming classes available.</li>
        {{/if}}
    </ul>

    <!-- Pagination - grade 4 -->
    <div class="pagination-container">
        <div class="pagination">
            <ul>
                <li class="prev-button">
                    {{#if pageMinus1}}
                        <a href="/upcomingclass?page={{pageMinus1}}">Previous</a>
                    {{else}}
                        <span>Previous</span>
                    {{/if}}
                </li>
                <li><span>Page {{page}} of {{totalPages}}</span></li>
                <li class="next-button">
                    {{#if nextPage}}
                        <a href="/upcomingclass?page={{nextPage}}">Next</a>
                    {{else}}
                        <span>Next</span>
                    {{/if}}
                </li>
            </ul>
        </div>
    </div>
    
    <!-- Sticky Banner -->
    <div class="sticky-banner">
        <p>Are you interested in becoming a creator?  
            <a href="/registerclass" class="for-more-information-button">For more information</a>
        </p>
    </div>
</div>
